.wrapper{
	width: 100%;
	border: 5px solid black;
	/*padding:20px;*/
	overflow: hidden;
}
.box,.box2, .box3{
	width: 20%;
	height: 20%;
	border: 3px solid grey;
	float: left;
}
.wrapper2{
	min-height: 50%;
	/*border:3px solid green;*/
	clear: both;
	background-color: blue;
}
.box{
	float: left;
}
.box2,.box3{
	float: right;
}
